*{
    margin: 0;
    padding: 0;
}
.div{
    background-color:yellow;
    height: 500px;
    margin-bottom: 20px;
}
.txt{
    text-align: center;
    font-style: italic;
    color: rgb(229, 15, 15);
}